{% extends "base.html" %} {% block content %}
<div class="card ">
  <div class="card-body">
    <div class="container">
      <div class="row center__container">
          <div id="profile_picture_container" class="card"   >
            <div class="card-body">
                {% if not profile.picture %}
                  <img id="id_user_picture" src="../static/img/defaultUserImage.jpeg" />
                {% else %}
                  <img id="id_user_picture" src="{% url 'photo' user.id%}" />
                {% endif %}
              </div>
          </div>
        </div>

      <div class="row center__container">
        <div class="card">
            <div class="card-body">
              <form
                method="POST"
                action="{% url 'user_profile' %}"
                enctype="multipart/form-data"
              >
                <table>
                  {{ form }}
                </table>
                <button class="btn btn-light" id="id_update_profile_button" > Update Profile </div>
                {% csrf_token %}
              </form>
            </div>
        </div>

      <div class="row center__container">
        <div id="user_profile_follows">
        <div class="card">
            <div class="card-body">
              You are following:
              <ul class="list-group list-group-flush">
                {% for u in profile.following.all %}
                <li class="list-group-item">
                  <a href="{% url 'other_profile' u.id %}" id="id_profile_link_{{u.username}}">
                    {{u.first_name}} {{u.last_name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
