{% extends "base.html" %} {% block nav %}
<div>{% include "navigation.html" %}</div>
{% endblock %} {% block page_name %}
<p id="id_page_name">Profile Page for {{user.first_name}} {{user.last_name}}</p>
{% endblock %} {% block content %}
<div id="profile_picture_container">
  {% if not profile.picture %}
    <img id="id_user_picture" src="../static/img/defaultUserImage.jpeg" />
  {% else %}
    <img id="id_user_picture" src="{% url 'photo' user.id%}" />
  {% endif %}
</div>

<form
  method="POST"
  action="{% url 'user_profile' %}"
  enctype="multipart/form-data"
>
  <table>
    {{ form }}
  </table>
  <button id="id_update_profile_button" > Submit </div>
  {% csrf_token %}
</form>

<div id="user_profile_follows">
  You are following:
  <ul>
    {% for u in profile.following.all %}
    <li>
      <a href="{% url 'other_profile' u.id %}" id="id_profile_link_{{u.username}}">
        {{u.first_name}} {{u.last_name}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
