<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utility.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.typekit.net/sys7dvt.css" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <!--gsap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <!-- threejs -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js"></script>
    <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>
    <title>MTC Bookclub</title>
  </head>
  <body>
    <div class="root page__root">
      <div id="landing__container">
        {% if not is_landing %} {% include 'nav_prelogin.html' %} {% endif %}
        <div class="center__container">{% block content %} {% endblock %}</div>
      </div>
    </div>
  </body>
</html>
