* {
  color: #042f27;
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  background-color: rgb(210, 231, 213);
}

h1 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14vw;
  margin: 0;
  text-shadow: 2px 2px #86cec1;
}

h2 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 5vw;
  margin: 0;
  text-shadow: 2px 2px #86cec1;
}

h3 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #042f27;
  margin: 0;
  font-size: 3vw;
  letter-spacing: 0.01em;
  text-shadow: 2px 2px #86cec1;
}

h4 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #042f27;
  margin: 0;
  letter-spacing: 0.3em;
  font-size: 2vw;
  text-shadow: 2px 2px #86cec1;
}

button {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 0.5em 3em 0.5em 3em;
}

button:hover {
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

input {
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  margin: 12px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgb(241, 255, 252);
  border: none;
}

table {
  font-family: work-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

table label {
  padding-right: 3vw;
}

li,
p {
  line-height: 1.5;
  font-size: 1.5vw;
}

ul {
  padding: 1vw;
  list-style-type: square;
}

nav a {
  color: rgb(107, 107, 107);
}

nav a:hover {
  color: rgb(155, 189, 154);
  text-decoration: none;
  transition: 0.5s;
}

a.navbar-brand {
  font-family: work-sans, sans-serif;
  text-decoration: none;
  color: rgba(0, 211, 141, 0.815);
}

.discussion__room__card {
  margin: 1vw;
}
